# Xojo (formerly REALbasic and Real Studio)

Builds*
*.debug
*.debug.app
Debug*.exe
Debug*/Debug*.exe
Debug*/Debug*\ Libs
*.rbuistate
*.xojo_uistate
*.obsolete

CodeBase/Controls/TempSaveFile325085100

CodeBase/TempSaveFile063252699

TempSaveFile616943380

TempSaveFile691358260

TempSaveFile856946460
